[submodule "solarized"]
	path = solarized
	url = https://github.com/altercation/solarized.git
[submodule "home/.rbenv"]
	path = home/.rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule "home/.ruby-build"]
	path = home/.ruby-build
	url = git://github.com/sstephenson/ruby-build.git
[submodule "themes/powerline-fonts"]
	path = themes/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts
[submodule "tmux-powerline"]
	path = tmux-powerline
	url = https://github.com/erikw/tmux-powerline
[submodule "tmux-mem-cpu-load"]
	path = tmux-mem-cpu-load
	url = https://github.com/thewtex/tmux-mem-cpu-load.git
[submodule "rainbarf"]
	path = rainbarf
	url = https://github.com/creaktive/rainbarf.git
[submodule "sourceCodePro-Powerline"]
	path = sourceCodePro-Powerline
	url = https://github.com/ryanmcilmoyl/sourceCodePro-Powerline.git
[submodule "doctorjs"]
	path = doctorjs
	url = https://github.com/mozilla/doctorjs
[submodule "iterm-2-colors"]
	path = iterm-2-colors
	url = https://github.com/baskerville/iTerm-2-Color-Themes.git
[submodule "Smyck-Color-Scheme"]
	path = Smyck-Color-Scheme
	url = https://github.com/hukl/Smyck-Color-Scheme.git
[submodule "cstags"]
	path = cstags
	url = https://github.com/mislav/cstags.git
[submodule "iterm-vibrantinklion"]
	path = iterm-vibrantinklion
	url = https://github.com/asanghi/vibrantinklion.git
[submodule "iterm-argonaut"]
	path = iterm-argonaut
	url = https://github.com/effkay/iTerm-argonaut.git
[submodule "iterm-2-colors-more"]
	path = iterm-2-colors-more
	url = https://github.com/JamieMason/All-iTerm-Colors.git
[submodule "opp.zsh"]
	path = opp.zsh
	url = https://github.com/hchbaw/opp.zsh.git
[submodule "themes/seoul256-iTerm2"]
	path = themes/seoul256-iTerm2
	url = https://github.com/mikker/seoul256-iTerm2.git
[submodule "tmux-colors-solarized"]
	path = tmux-colors-solarized
	url = git@github.com:seebi/tmux-colors-solarized.git
[submodule "themes/tomorrow-theme"]
	path = themes/tomorrow-theme
	url = git@github.com:chriskempson/tomorrow-theme.git
[submodule "themes/iTerm-argonaut"]
	path = themes/iTerm-argonaut
	url = https://github.com/effkay/iTerm-argonaut
[submodule "themes/iTerm-twilight"]
	path = themes/iTerm-twilight
	url = https://gist.github.com/1183140.git
[submodule "home/.bin/z"]
	path = home/.bin/z
	url = https://github.com/rupa/z.git
[submodule "home/.zprezto"]
	path = home/.zprezto
	url = https://github.com/solidline/prezto.git
[submodule "themes/iTerm2-Color-Schemes"]
	path = themes/iTerm2-Color-Schemes
	url = https://github.com/mbadolato/iTerm2-Color-Schemes.git
[submodule "base16-shell"]
	path = base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "omnifocus-perspective-icons"]
	path = omnifocus-perspective-icons
	url = git@github.com:deaghean/omnifocus-perspective-icons.git
[submodule "fonts/Hack"]
	path = fonts/Hack
	url = https://github.com/chrissimpkins/Hack
[submodule "pure"]
	path = pure
	url = git@github.com:sindresorhus/pure.git
