[submodule "home/.scm_breeze"]
	path = home/.scm_breeze
	url = git://github.com/ndbroadbent/scm_breeze.git
[submodule "home/.oy-my-zsh"]
	path = home/.oy-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
